<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會議室預約系統</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reservation/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reservation/bootstrap-icon/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reservation/custom.css' %}">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="bi-calendar-event"
                        style="font-size: 1.25rem; color: rgb(255, 255, 255);"></i> 會議室預約系統</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="{% url 'reservation:index' %}">會議室清單</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="row text-center">
            <div class="col my-5">
                {% if room_list %}
                <div class="col list-group">
                    {% for room in room_list %}
                    <a href="{% url 'reservation:room' room.id %}"
                        class="list-group-item list-group-item-action">{{ room.room_name }}</a>
                    {% endfor %}
                </div>
                {% else %}
                <h2>沒有可借的會議室</h2>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'reservation/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>

</html>